/* This is for styling. */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family:'open sans', sans-serif;
    margin:0;
    padding: 0;
    background-image: url("../images/contact-us-background-image_625723.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25%;

}
.contact-form{
    width:80%;
    max-width: 600px;
    position: absolute;
    background:#f1f1f1;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius:8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Montserrat",sans-serif;

}
.contact-form h1{
    margin-top: 0;
    font-weight: 200;
}
.txt{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}
.txt label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.txt input,.txt textarea{
    width: 100%;
    border:none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;

}
.btn{
    display: inline-block;
    background:#013220;
    padding: 14px 0;
    color: black;
    text-transform: uppercase;
    cursor:pointer;
    margin-top: 8px;
    width: 100%;
}
/* .footer{
    width: 100%;
    /* height:auto; */
    /* margin:auto; */
    background:#272727;
    padding: 60px ;
    top:90%;
    position: absolute;;
    left:0;

    

} */
.fa:hover{
    opacity:0.7;
  }
.fa{
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-decoration: none;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height:50px; 
    margin: 5px;

    
}
  .fa-facebook{
    background:black;
    color:white;
    /* width:70px;
    height:70px;
    margin: 0px 20px;
    border-radius:100%;
    font-size: 25px;
    line-height:50px; */
  }
  .fa-instagram{
    background: black;
    color:white;
  }
  .fa-twitter{
    background:black;
    color:white;
  }
  .fa-linkedin{
    background:black;
    color:white;
  }
.footer-wrapper{
    width:100%;
    height:auto;
    background-image: url("../images/footer-background-011.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
/* .footer ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.footer ul li{
    display:inline-block;
    width:50px;
    height:50px;
    margin: 0px 10px;
    border-radius:100%;
    background:#013220; 
}
.footer ul li a{
    
    font-size: 25px;
}
.footer ul li a i{
    line-height:50px;
    color:white;
} */