/* This is for styling. */

 h1{
  padding-bottom: 100px;
  color:rgb(2, 59, 24);
  font-family: 'Volkhov', serif;
}
.carousel slide carousel-fade{
  width:100%;
}
 nav>ul{text-align: right;}
 ul>li{
  display: inline-block;
}
nav a:hover{
  color:whitesmoke;
  font-weight: bold;
  
}
nav{
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
background-color: #09475a;
background-size: cover;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
text-align: center;
}
  nav a{
    
    display: block;
    color:wheat;
    padding: 14px 16px;
    text-decoration: none;
  } 
