/* This is for styling. */
/* .container-fluid{ */
    /* background-color:rgb(223, 243, 250); */
   
/* } */

.header{
    text-align: center;
    
    font-family:'Sarabun', sans-serif;;
    font-style: normal;
   
    margin-bottom: 40px;
}
.company{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.our{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.values{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 80px;
    
} 
p{
    text-align: center;
}
.julia{
   
   margin-left: 90px;
  
}
 
.img1{
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.naice{
    padding-left: 260px;
}
 
  .denyse{
    margin-left: 100px;
  }
  .elliane{
    margin-left: 90px;
  }
  .diane{
    margin-left: 110px;
  }
  .text{
    position :absolute;
    top:40%;
   margin-left: 55px;
    color:darkred;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:oblique 10deg;
   
  }
  .team{
      text-align: center;
  }

 