
.container-fluid{ 
  color:black;
   
} 
.header{
    text-align: center;
    
    font-family:'Sarabun', sans-serif;;
    font-style: normal;
   
    margin-bottom: 40px;
}
.company{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.our{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.values{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 80px;
    
} 
p{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.julia{
   
   margin-left: 90px;
  
}
 
.img1{
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.naice{
    padding-left: 260px;
}
 
.denyse{
  margin-left: 100px;
}
.elliane{
  margin-left: 90px;
}
.diane{
  margin-left: 110px;
}
.text{
  position :absolute;
  top:40%;
  margin-left: 55px;
  color:darkred;
  font-size: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style:oblique 10deg; 
   
}
.team{
  text-align: center;
}
  
#vis{
  background-image: url("../images/eye1.jpg");
  background-position:center center;
  position: relative;
  background-size: cover;
  padding-bottom:5em;
  color:white;
  margin-left: 650px;
  width:90px;
  height:250px;
  margin-top:-100px;
}
.vision{
  background-color: rgba(0, 0, 0, 0.7);
  background-color: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  }
#miss{
  background-image: url("../images/mission.jpg");
  background-position:center center;
  position: relative;
  background-size: cover;
  padding-bottom:5em;
  color:white;
  height:300px;
  width:90px;
  margin-top:200px; 
}
  
.mission{
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;

  }



/* This is for styling. */
/* Start of Diane styling. */
#nana{
    color: rgb(39, 71, 109);
    font-size: 40px;
    padding-bottom: 100px;
}
 h1{
    padding-bottom: 350px;
    color:rgb(2, 59, 24);
    font-family: 'Volkhov', serif;
    font-size: 70px;  
}
.carousel slide carousel-fade{
    width:100%;
}
nav>ul{
    text-align: center;
}
ul>li{
    display: inline-block;
}
nav a:hover{
    color:whitesmoke;
    font-weight: bold;
  
}
nav{
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #09475a;
    background-size: cover;
    text-align: center;
}
nav a{
    display: block;
    color:wheat;
    padding: 14px 16px;
    text-decoration: none;
  } 
#h{
    color:wheat;
}
/* End Diane's styling. */


/* Julia contact form */
/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
#body{
    font-family:'open sans', sans-serif;
    margin:0;
    padding: 0;
    background-image: url("../images/contact-us-background-image_625723.png");
    /* background-size: cover; */
    background-repeat: no-repeat;

}
#contact-form{
    width:80%;
    max-width: 600px;
    position: absolute;
    background:#f1f1f1;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius:8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
    font-family: "Montserrat",sans-serif;

}
#contact-form h1{
    margin-top: 0;
    font-weight: 200;
}
.txt{
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}
.txt label{
    display: block;
    text-align: left;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
}
.txt input,.txt textarea{
    width: 100%;
    border:none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}
.btn{
    display: inline-block;
    background:#013220;
    padding: 14px 0;
    color:white;
    text-transform: uppercase;
    cursor:pointer;
    margin-top: 8px;
    width: 100%;
}
.footer{
    background-color:grey;
    margin-top:36%;
    padding:0px;
    box-sizing: border-box;

}
/* ul{
    list-style-type:none;
    margin-top:0;
    
  }
ul li a{
    padding:4px 6px;
    overflow:hidden;
    text-align:center;
    text-decoration:none;
    font-family:"roboto", sans serif;
    border:1px solid transparent;
    color:Black;
    transition:0.6s ease;
  } */

.fa:hover{
    opacity:0.7;
  }
.fa-facebook{
    background:black;
    color:white;
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-decoration: none;
    line-height:50px; 
    margin: 5px;
}
.fa-instagram{
    background: black;
    color:white;
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-decoration: none;
    line-height:50px; 
    margin: 5px;
}
.fa-twitter{
    background:black;
    color:white;
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-decoration: none;
    left: 50%;
    margin: 5px;
}
.fa-linkedin{
    background:black;
    color:white;
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-decoration: none;
    line-height:50px; 
    margin: 5px;
}  
.card-deck{
    margin-top: 30px;
}
#form,#list,#available, .search{
    display: none;
}
#doc,#pat{
    color:blue;
    cursor: pointer;
}
#doc:hover , #pat:hover {
    text-decoration: underline;
}
.header{
    text-align: center;
    margin-bottom: 3%;
    margin-top: 2%;
    padding: 1%;
    border-bottom: 1px solid black; 
    border-top: 1px solid black;
}
.card-title{
    text-decoration: underline;
}
/* End of julia contact form */
